<article class="post">
	<div class="title">
		<a href='{{post_url}}' target='_blank'>{{title}}</a>
		
		<br>
		on {{format_date created_at}}
	</div>


	<div class="meta">
		<a href='/post/{{id}}'>{{comments.length}} {{format_plural 'comment'
			comments.length}}</a>
		
	
		{{love_count}} {{format_plural '❤' love_count}}
		
	</div>
</article>