<div class="container-fluid">
	<div class="row">
		{{#each posts as |post|}}
		<div class="col-sm-4">

			<div class="card mt-4" style="background-color:#e3f2fd;">

				<img class="card-img-top">

				{{!-- <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"> --}}
					<img src={{photo}} class="img-fluid" alt="" style="border:0;" />
				</a>

				<div class="card">
					<div class="card-body" class="responsive">

						{{> post-info post }}

					</div>
				</div>
				<!-- Want to be able to have a href take viewing user to user that made the post's page-->
				<div class="card footer">
					<p>Adventure Guide: <a href="{{user.username}}">{{user.username}}</a>
						<br>
						Website: <a href='https://{{post_url}}' target="__blank">{{format_url
							post_url}}</a>
					</p>

				</div>
			</div>

		</div>
		{{/each}}

	</div>
</div>