<div class="container-fluid">
	<div class="row">
		{{#each posts as |post|}}
		<div class="col-4">

			<div class="card mt-4" style="background-color:#e3f2fd;">

				{{!-- LINE NEEDED FOR IMPORTING PHOTOS WITH MULTER --}}
				{{!-- <img class="card-img-top" src="{{this.photo}}" alt="card image"> --}}

				<img class="card-img-top">
				{{!-- <a href="https://en.wikipedia.org/wiki/Boracay" target="_blank"> --}}
				<img
						src={{photo}}
						width="300" height="225"
						alt="Photo of White Beach in Boracay, Philippines"
						style="border:0;" />
						
						</a>

				<div class="card">
					<div class="card-body">

						{{> post-info post }}

					</div>
				</div>
				<!-- Want to be able to have a href take viewing user to user that made the post's page-->
				<div class="card footer">
					<p>Adventure Guide: <a href="{{user.username}}">{{user.username}}</a>
						<br>
						Website: <a href="https://www.travel.com" target="__blank">{{format_url
							post_url}}</a>
					</p>

				</div>
			</div>

		</div>
		{{/each}}

	</div>
</div>